:root {
  --primary-color: #eeb2b2;
}

* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

body {
  width: 100%;
  background-color: #dfd9d9;
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
}

/* Cabeçalho */
.container-header {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 25px 50px;
  top: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
}

.container-header h1 {
  font-size: 25px;
  color: #010003;
  font-weight: 600;
}

/* Menu de navegação */
.nav-bar ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.nav-bar a {
  font-size: 1rem;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
  transition: .3s;
}

.nav-bar a:hover {
  color: #00abf0;
}

/* Botão de menu hamburguer */
.menu-toggle {
   display: none;
  font-size: 30px;
  cursor: pointer;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.nav-bar.show {
  display: flex;
}

/* Banner */
.container-hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px 50px 50px;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-hero-banner img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}

.hero-banner-content {
  max-width: 600px;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 2rem;
}

.btn {
  background-color: rgb(214, 169, 203);
  border-radius: 8px;
  font-size: 1.2rem;
  text-decoration: none;
  border: 2px solid rgb(214, 169, 203);
  color: #11010c;
  padding: 10px 20px;
  display: inline-block;
}

/* Marketing */
.container-marketing {
  text-align: center;
  margin: 2rem;
}

.container-Mkt {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.mkt-card {
  border: 1px solid #575050;
  border-radius: 20px;
  overflow: hidden;
  flex: 1 1 300px;
  max-width: 400px;
}

.mkt-card img {
  width: 100%;
  height: auto;
}

.mkt-card h3 {
  padding: 10px;
}

.mkt-card p {
  font-size: 1rem;
  line-height: 1.5;
  padding: 10px;
}

.section-title {
  padding: 4rem 0 2rem;
}

/* Sobre */
.container-sobre {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 3rem;
}

.container-sobre img {
  width: 50%;
  max-width: 500px;
  height: auto;
}

.container-sobre-content {
  width: 50%;
}

.container-sobre-content h2 {
  font-size: 2.5rem;
}

.container-sobre-content p {
  font-size: 1rem;
  line-height: 1.8;
  padding-top: 1rem;
  text-align: left;
}

/* Rodapé */
.container-dark3 {
  background-color: #f1f1f3;
  padding: 3rem 0;
  width: 100%;
}

.footer-contatos {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.footer-contatos a {
  color: #000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #f0e4e4;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.footer-contatos a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #245ac5;
  z-index: -1;
  transition: 0.5s;
}

.footer-contatos a:hover::before {
  width: 100%;
}


/* ======= RESPONSIVO ======= */

@media (max-width: 768px) {
  .container-header {
    flex-direction: row;
    padding: 20px;
  }

  .nav-bar {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex-direction: column;
    display: none;
    padding: 10px 20px;
  }

  .nav-bar ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-bar.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .container-hero-banner {
    flex-direction: column;
    padding: 100px 20px 20px;
    text-align: center;
  }

  .hero-banner-content {
    max-width: 100%;
  }

  .container-marketing {
    margin: 1rem;
  }

  .container-sobre {
    padding: 2rem 1rem;
    flex-direction: column;
    text-align: center;
  }

  .container-sobre-content p {
    text-align: justify;
  }

  .footer-contatos {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
