:root{
  --primary-color: #eeb2b2;
}

* {
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 400;
}

body {
  width: 100%;
  scrollbar-color: #8e8e8e #fff;
  scrollbar-width: thin;
  background-color: #dfd9d9;;
}

h1{
  font-size: 2.8rem;
  margin-bottom: 20px;
}
h2{
  font-size: 2.2rem;
}

h3{
  font: 2.5rem;
}

.btn{
  background-color: rgb(214, 169, 203);
  border-radius: 4px;
  font-size: 1.8rem;
  text-decoration: none;
  border: 2px solid rgb(214, 169, 203);
  border-radius: 8px;
  color: #11010c;
}

.container-header{
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  display: flex;
  justify-content: space-between;
  padding: 25px 40px 25px 50px;
  top: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
}

.container-header h1{
  font-size: 25px;
  color: #010003;
  text-decoration: none;
  font-weight: 600;
}

.nav-bar a{
  font-size: px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: .3s;
}

.nav-bar a:hover{
  color: #00abf0;
}

.nav-bar ul{
  display: flex;
  gap: .5rem;
  list-style-type: none;
  
}

.container-hero-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 150px;
  gap: 20rem;
}
.container-hero-banner img{
  padding: 50px;
}

.container-marketing{
  text-align: center;
  margin: 1.5rem;
  margin-bottom: 13rem;
  
}
.container-marketing h2{
  margin-bottom: 20px;
}

.container-Mkt{
  display: flex;
  text-align: left;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  

}

.mkt-card h3{
  font-size: 2rem;
  padding: 10px;
}
.mkt-card p{
  font-size: 1.1rem;
  line-height: 1.5;
  padding: 10px;
}

.mkt-card img{
  width: 100%;
}

.mkt-card{
  border: 1px solid #575050;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
}

.section-title{
  padding: 6rem 0;
  text-align: center;
  margin: 0;
}

.container-sobre{
  display: flex;
  gap: 8rem;
  margin-top: 4rem;
  padding: 5rem;
}

.container-sobre-content h2{
  font-size: 3.2rem;
  margin-top: 2rem;
}

.container-sobre-content p{
  font-size: 1.1rem;
  line-height: 1.9;
  padding-top: 3rem;
  text-align: left;
}


.container-dark3{
  background-color: #f1f1f3;
  padding: 3rem 0;
  width: 100%;
}

.footer-contatos{
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

.container-dark3 h3{
  color: #fff;
  font-size: 1.4rem;
}

.footer-contatos a{
  color: #472ea1;
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #f0e4e4;
  border-radius: 50%;
  font-size: 25px;
  color: #000000;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
}

.footer-contatos a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #245ac5;
  z-index: -1;
  transition: 0.5s;
}

.footer-contatos a:hover::before {
  width: 100%;
}

